<!DOCTYPE html>
<html>

<head>
	<title>ERRORE</title>
	<link rel="stylesheet" href="/css/stile5.css" />
</head>

<body>
	<div class="container">

	
	<!-- PULSANTE LOGIN/LOGOUT -->
	<header>
		
	<div th:if="${userDetails}">
	   <span th:text="${userDetails.username}"></span>
	   <a href="/logout">Logout</a>
	</div>
	<div sec:authorize="!isAuthenticated()">
	   <a href="/login">Login</a>
	</div>

	</header>
	
	
	<div><img src="/images/logo-siw.png" width="10%" /></div>
	<h1>SI E' VERIFICATO UN ERRORE</h1>
    <p th:text="${errorMessage}"></p>
    <a href="/">Torna alla homepage</a>
    </div>


</body>

</html>