<!DOCTYPE html>
<head>

    <title>Info Giocatore</title>
    <link rel="stylesheet" href="/css/stile5.css" />

</head>
<body>
	<div class="container">

	
	<!-- PULSANTE LOGIN/LOGOUT -->
        <header>
            <div class="auth-links" th:if="${userDetails}">
                <span th:text="${userDetails.username}"></span>
                <a href="/logout">Logout</a>
            </div>
            <div class="auth-links" sec:authorize="!isAuthenticated()">
                <a href="/login">Login</a>
            </div>

        </header>
	
	
	<div><img src="/images/logo-siw.png" width="10%" /></div>
	
	 <span th:if="${squadra}">
				 <span th:if="${giocatore}">
					 <h2><span th:text="${giocatore.nome} + ' ' + ${giocatore.cognome}"> </span></h2>
					 <p><b>Data di nascita</b>: <span th:text="${#temporals.format(giocatore.dataNascita, 'dd-MM-yyyy')}"> </span></p>
					 <p><b>Luogo di nascita</b>: <span th:text="${giocatore.luogoNascita}"> </span></p>
					 <p><b>Ruolo</b>: <span th:text="${giocatore.ruolo}"> </span></p>
				 </span>
				 <span th:unless="${giocatore}">
					 <p>Il giocatore non esiste!</p>
				 </span>
				 	<a th:href="'/squadra/'+${squadra.id}+'/giocatori'" class="button">INDIETRO</a>
			</span>
			 <span th:unless="${squadra}">
				 <p>La squadra non esiste!</p>
				 <button>
				 	<a th:href="'/'" class="button">INDIETRO</a>
				  </button>
			 </span>

</body>
</html>
