<!DOCTYPE html>
<head>

    <title>Federazione Sportiva</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stile5.css" />

</head>
<body>
	<div class="container">

	
	 <!-- PULSANTE LOGIN/LOGOUT -->
        <header>
            <div class="auth-links" th:if="${userDetails}">
                <span th:text="${userDetails.username}"></span>
                <a href="/logout">Logout</a>
            </div>
            <div class="auth-links" sec:authorize="!isAuthenticated()">
                <a href="/login">Login</a>
            </div>

        </header>
	
	<h1>FEDERAZIONE SQUADRA ROMANE</h1><br>
	<div>
		<section>
				<div id="flex-squadre">
					<div class="squadre" th:each="squadra : ${squadre}">
						<a th:href="@{'/squadra/'+${squadra.id}}">
							<h3 class="squadre"><span th:text="*{squadra.nome} + ' (' + *{squadra.annoFondazione + ')'}">nome </span></h3>
							</a><br>
							
					</div>
				</div>
          </section>
    </div>


</body>
</html>
