<!DOCTYPE html>
<head>
	<title>HomePage</title>
	<link rel="stylesheet" href="/css/stile2.css" />
</head>

<body>
	<div class="container">

	
	
	<h1>BENVENUTO NEL SITO DELLA FEDERAZIONE CALCISTICA:</h1>
	<h1>SQUADRE STORICHE ROMANE</h1>
	<div><img src="/images/logo-siw.png" width="30%" /></div>

	<div>
		ACCEDI PER POTER VISIONARE TUTTE LE SQUADRE ISCRITTE <br><br>
		 <a href="/register" class="button">REGISTRATI</a>
		 <a href="/login" class="button">ACCEDI</a>
     </div>
    </div>


</body>
</html>
