<!DOCTYPE html>
<head>

    <title>Federazione Sportiva</title>
	<link rel="stylesheet" href="/css/stile5.css" />

</head>
<body>
	<div class="container">

	
	<!-- PULSANTE LOGIN/LOGOUT -->
        <header>
            <div class="auth-links" th:if="${userDetails}">
                <span th:text="${userDetails.username}"></span>
                <a href="/logout">Logout</a>
            </div>
            <div class="auth-links" sec:authorize="!isAuthenticated()">
                <a href="/login">Login</a>
            </div>

        </header>
	
	
	<div><img src="/images/logo-siw.png" width="10%" /></div>
	<h2>INFORMAZIONI SULLA SQUADRA:</h2>
	
			 <span th:if="${squadra}">
				 <h1><span th:text="${squadra.nome}"> </span></h1>
				 <p><b>Anno di fondazione</b>: <span th:text="${squadra.annoFondazione}"></span></p>
				 <p><b>Sede</b>: <span th:text="${squadra.indirizzoSede}"></span></p>
				 <p>
						 <a th:href="'/'"class="button">
							 INDIETRO
						 </a>
						 <a th:href="'/squadra/'+${squadra.id}+'/giocatori'"class="button">
							 GIOCATORI
						 </a>
						 <a th:href="'/squadra/'+${squadra.id}+'/presidente'"class="button">
							 PRESIDENTE
						 </a>
				 </p>
			 </span>
			 <span th:unless="${squadra}">
				 <p>La squadra non esiste!</p>
				 <button>
				 	<a th:href="'/'">INDIETRO</a>
				  </button>
			 </span>

</body>
</html>
