<!DOCTYPE html>
<head>

    <title>Federazione Sportiva</title>
    <link rel="stylesheet" href="/css/form1.css" />
</head>
<body>
	<div class="container">

    <div style="text-align: center;">
        <img src="/images/logo-siw.png" width="20%" alt="Logo SIW" />
    </div>
    <h1 style="text-align: center;"> ASSEGNA UN PRESIDENTE AD UNA SQUADRA :</h1>
</header>

<section>
        <form th:action="@{/admin/assegnaPresidente}" method="post">
            <p><sup>*</sup>: Campo obbligatorio</p>
            <p>
                <label>Presidente<sup>*</sup></label><br>
                <select name="codiceFiscale">
                    <option value=""> </option>
                    <span th:each="presidente : ${presidenti}">
                                <option th:value="*{presidente.codiceFiscale}">
                                    <span th:text="*{presidente.utente.nome}">nome</span>
                                    <span th:text="*{presidente.utente.cognome}">cognome</span>
                                    <span th:text="*{presidente.codiceFiscale}">fiscale</span>
                                </option>
                    </span>
            </select>
            </p>
            <p>
                <label>Squadra<sup>*</sup></label><br>
                <select name="id">
                    <option value=""> </option>
                        <span th:each="squadra : ${squadre}">
                                <option th:value="*{squadra.id}">
                                    <span th:text="*{squadra.nome}">nome</span>
                                    <span th:text="*{squadra.annoFondazione}">anno</span>
                                </option>
                        </span>
                </select>
            </p>
            <span th:if="${errore}">
                <span th:text="${errore}"></span>
            </span>
            <p>
                <button>
                    <a href="/">INDIETRO</a>
                </button>
                <button type="submit">INSERISCI</button>
            </p>
        </form>

    </section>
</body>
</html>
