<!DOCTYPE html>
<head>

    <title>Nuova Squadra</title>
     <link rel="stylesheet" href="/css/form1.css" />
</head>
<body>
	<div class="container">

	
	
	<div><img src="/images/logo-siw.png" width="10%" /></div>
	<h1>INSERISCI UNA NUOVA SQUADRA</h1>
	 <section>
		 
    <form th:action="@{'/admin/squadra'}" method="post" th:object="${squadra}">
        <p><sup>*</sup>: Campo obbligatorio</p>
       <p>
        <label>Nome<sup>*</sup></label><br>
        <input type="text" name="nome" th:field="*{nome}" />
    </p>
    <p>
        <label>Anno di fondazione<sup>*</sup></label><br>
        <input type="text" name="annoFondazione" th:field="*{annoFondazione}" />
    </p>
    <p>
        <label>Indirizzo Sede<sup>*</sup></label><br>
        <input type="text" name="indirizzoSede" th:field="*{indirizzoSede}" />
    </p>
        <p>
     		<label>Immagine (url):</label>
      		<span><input type="text" th:field="${squadra.urlOfPicture}" /></span>
    	</p>
        <p>
            <button type="button" onclick="location.href='/'">INDIETRO</button>
            <button type="submit">INSERISCI</button>
        </p>
        <div th:object="${squadra}">
                <ul th:if="${#fields.hasGlobalErrors()}">
                    <p style="color: red">Errori squadra:</p>
                    <li th:each="err : ${#fields.globalErrors()}" th:text="${err}" style="color: red">
                        ...
                    </li>
                </ul>
            </div>
    </form>
</section>

</body>
</html>
