<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifica Squadra</title>
    <link rel="stylesheet" href="/css/form1.css" />
</head>

<body>
    <div class="container">
        <div style="text-align: center;">
            <img src="/images/logo-siw.png" width="30%" alt="Logo SIW" />
        </div>

        <h1>MODIFICA SQUADRA</h1>

        <section>
            <form th:action="@{/admin/modificaSquadra}" th:object="${squadra}" method="post">
                <label for="squadraSelezionata">Seleziona una squadra:</label>
                <select id="squadraSelezionata" th:field="*{id}">
                    <option th:each="squadra : ${squadre}" th:value="${squadra.id}" 
                            th:text="${squadra.nome}"></option> 
                </select>

                <h3>Modifica informazioni squadra</h3>

                <label for="nome">Nome della Squadra:</label>
                <input type="text" id="nome" th:field="*{nome}" />
                <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Errore nel campo Nome</div>
				<br><br>
                <label for="annoFondazione">Anno di Fondazione:</label>
                <input type="text" id="annoFondazione" th:field="*{annoFondazione}" />
                <div th:if="${#fields.hasErrors('annoFondazione')}" th:errors="*{annoFondazione}">Errore nel campo Anno Fondazione</div>
				<br><br>
                <label for="indirizzoSede">Indirizzo Sede:</label>
                <input type="text" id="indirizzoSede" th:field="*{indirizzoSede}" />
                <div th:if="${#fields.hasErrors('indirizzoSede')}" th:errors="*{indirizzoSede}">Errore nel campo Indirizzo Sede</div>
				<br><br>
				<label for="urlOfPicture">URL Immagine:</label>
				<input type="text" id="urlOfPicture" th:field="*{urlOfPicture}" />
				<div th:if="${#fields.hasErrors('urlOfPicture')}" th:errors="*{urlOfPicture}">Errore nel campo URL Immagine</div>
				<br><br><br>
				<button type="submit">Salva Modifiche</button>
            </form>
        </section>
    </div>
</body>

</html>
