<!DOCTYPE html>
<head>

    <title>Federazione Sportiva</title>
    <link rel="stylesheet" href="/css/stile5.css" />

</head>
<body>
	<div class="container">

		
	<!-- PULSANTE LOGIN/LOGOUT -->
        <header>
            <div class="auth-links" th:if="${userDetails}">
                <span th:text="${userDetails.username}"></span>
                <a href="/logout">Logout</a>
            </div>
            <div class="auth-links" sec:authorize="!isAuthenticated()">
                <a href="/login">Login</a>
            </div>

        </header>
	
		<br><br>
	<div><img src="/images/logo-siw.png" width="10%" /></div>
	<h1>COMPLIMENTI:</h1>
	<div>
		 
    <section>
        <p>Giocatore creato correttamente!</p>
            <a href="/" class="button">AVANTI</a>
    </section>

     </div>
    </div>


</body>
</html>
