<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestione Amministratore</title>
        <link rel="stylesheet" href="/css/stile6.css" />

</head>
<body>

    <div class="container">
		
        <div class="user-auth">
            <div th:if="${userDetails}">
                <span th:text="${userDetails.username}"></span>
                <a href="/logout">Logout</a>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <a href="/login">Login</a>
            </div>
        </div>

        <div>
            <img src="/images/logo-siw.png" alt="Logo SIW" width="70%">
        </div>
        <h1>BENTORNATO AMMINISTRATORE:</h1>

        <section>
            <h2>
                <span th:text="${utente.nome}">Nome</span>
                <span th:text="${utente.cognome}">Cognome</span>
            </h2>

            <div id="flex-azioni">
                <div class="azioni">
                    <a href="admin/formNewSquadra">
                        Aggiungi squadra
                    </a>
                </div>

                <div class="azioni">
                    <a href="admin/formNewPresidente">
                        Aggiungi presidente
                    </a>
                </div>
                
                <div class="azioni">
                    <a href="admin/formNewGiocatore">
                        Aggiungi Giocatore
                    </a>
                </div>

                <div class="azioni">
                    <a href="admin/formAssegnaPresidente">
                        Assegna Presidente
                    </a>
                </div>

                <div class="azioni">
                    <a href="admin/formModificaSquadra">
                        Modifica Squadra
                    </a>
                </div>
                
            </div>
        </section>
    </div>

</body>
</html>
