<!DOCTYPE html>
<head>

    <title>Federazione Sportiva</title>
    <link rel="stylesheet" href="/css/stile5.css" />

</head>
<body>
	<div class="container">

		
	<!-- PULSANTE LOGIN/LOGOUT -->
        <header>
            <div class="auth-links" th:if="${userDetails}">
                <span th:text="${userDetails.username}"></span>
                <a href="/logout">Logout</a>
            </div>
            <div class="auth-links" sec:authorize="!isAuthenticated()">
                <a href="/login">Login</a>
            </div>

        </header>
	
	
     <section>
        <h2 style="color:darkred">Permesso negato!</h2><br>
        <h2 style="color:darkred">Non sei autorizzato a modificare questa squadra!</h2>
        <p>
            <a href="/" class="button">INDIETRO</a>
        </p>
    </section>


</body>
</html>
