<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tessera Giocatore</title>
    <link rel="stylesheet" href="/css/form1.css" />

</head>

<body>
    <div class="container">
        <img src="/images/logo-siw.png" alt="Logo SIW" width="30%">
        <h2>Tessera un giocatore alla squadra <span th:text="${squadra.nome}"></span></h2>
        <section>
             <form th:action="@{'/presidente/'+${squadra.id}+'/tesseraGiocatore'}" method="post">
                <label for="giocatore">Seleziona Giocatore:</label>
                <select id="giocatore" name="giocatoreId" required>
                    <option value="" disabled selected>-- Seleziona un giocatore --</option>
                    <option th:each="giocatore : ${giocatori}" 
                            th:value="${giocatore.id}" 
                            th:text="${giocatore.nome + ' ' + giocatore.cognome}"></option>
                </select>

                <label for="dataInizio">Data di Inizio:</label>
                <input type="date" id="dataInizio" name="dataInizio" required />

                <label for="dataFine">Data di Fine:</label>
                <input type="date" id="dataFine" name="dataFine" required />

                <input type="hidden" name="squadraId" th:value="${squadra.id}" />

                <button type="submit">Tesserare Giocatore</button>
            </form>
        </section>
    </div>
</body>

</html>
