<!DOCTYPE html>
<head>

    <title>Nuovo Giocatore</title>
	<link rel="stylesheet" href="/css/form1.css" />

</head>

<body>
	<div class="container">

	
	
	<div><img src="/images/logo-siw.png" width="10%" /></div>
	   <section>
        <h2>Rimuovi un giocatore dalla squadra <span th:text="${squadra.nome}"></span></h2>
        <form th:action="@{'/presidente/'+${squadra.id}+'/rimuovi'}" method="post">
            <p><sup>*</sup>: Campo obbligatorio</p>
            <p>
                <label>Giocatore<sup>*</sup></label><br>
                <select name="id">
                    <option value=""></option>
                    <span th:each="giocatore : ${giocatori}">
                        <option th:value="*{giocatore.id}">
                            <span th:text="*{giocatore.nome}">
                                Nome
                            </span>
                             <span th:text="*{giocatore.cognome}">
                                Cognome
                            </span>
                             <span th:text="*{#temporals.format(giocatore.dataNascita, 'dd-MM-yyyy')}">
                                Data
                            </span>
                            <span th:text="*{giocatore.luogoNascita}">
                                Luogo
                            </span>
                        </option>
                    </span>
                </select>
            </p>
            <p>
                <button>
                    <a th:href="'/presidente/'+${squadra.id}+'/gestisciSquadra'">
                        INDIETRO
                    </a>
                </button>
                <button type="submit">RIMUOVI</button>
            </p>
        </form>
    </section>
</body>
</html>
