<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tessera Giocatore</title>
    <link rel="stylesheet" href="/css/form1.css" />

</head>

<body>
    <div class="container">
		
        
        <img src="/images/logo-siw.png" alt="Logo SIW" width="30%">
        <h2>Tessera un giocatore alla squadra: <span th:text="${squadra.nome}"></span></h2>
        <section>
             <form th:action="@{'/presidente/'+${squadra.id}+'/tesseraGiocatore'}" method="post">
               <label for="giocatore">Seleziona un giocatore da Tesserare:</label>
        <select id="giocatore" name="giocatoreId">
            <th:block th:if="${!#lists.isEmpty(giocatoriLiberi)}">
                <option value="" disabled selected>-- Seleziona un giocatore --</option>
                <th:block th:each="giocatore : ${giocatoriLiberi}">
                    <option th:value="${giocatore.id}" th:text="${giocatore.nome} + ' ' + ${giocatore.cognome}"></option>
                </th:block>
            </th:block>
            <th:block th:if="${#lists.isEmpty(giocatoriLiberi)}">
                <option value="" disabled>Non ci sono giocatori disponibili per il tesseramento</option>
            </th:block>
        </select>
				<br><br>
                <label for="dataInizio">Data di Inizio:</label>
                <input type="date" id="inizioTesseramento" name="inizioTesseramento" required />
				<br><br>
                <label for="dataFine">Data di Fine:</label>
                <input type="date" id="fineTesseramento" name="fineTesseramento"  required />
                <input type="hidden" name="squadraId" th:value="${squadra.id}" />
				<br><br>
				<br>
                <button type="submit">Tessera Giocatore</button>
            </form>
        </section>
    </div>
</body>

</html>
