<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestione della Squadra</title>
	<link rel="stylesheet" href="/css/stile5.css" />

</head>

<body>
	    <div class="container">

	<!-- PULSANTE LOGIN/LOGOUT -->
        <header>
            <div class="auth-links" th:if="${userDetails}">
                <span th:text="${userDetails.username}"></span>
                <a href="/logout">Logout</a>
            </div>
            <div class="auth-links" sec:authorize="!isAuthenticated()">
                <a href="/login">Login</a>
            </div>

        </header>
        
        <h2>Gestione della Squadra: <span th:text="${squadra.nome}"></span></h2>
        <div class="actions"><br>
            <a class="button" th:href="@{'/presidente/'+${squadra.id}+'/formTesseraGiocatore'}" style="background-color: rgb(229, 88, 50); color: white; padding: 20px 20px;
">Tessera Giocatore</a><br>
            <a class="button" th:href="@{'/presidente/'+${squadra.id}+'/formSvincolaGiocatore'}" style="background-color: rgb(229, 88, 50); color: white; padding: 20px 20px;
            ">Svincola Giocatore</a>
        </div>
        <div ><br><br>
            <a href="/" class="button">INDIETRO</a>
        </div>
    </div>
</body>

</html>