<!DOCTYPE html>
<head>

    <title>Federazione Sportiva</title>
    <link rel="stylesheet" href="/css/stile5.css" />

</head>
<body>
	<div class="container">

		
	<!-- PULSANTE LOGIN/LOGOUT -->
        <header>
            <div class="auth-links" th:if="${userDetails}">
                <span th:text="${userDetails.username}"></span>
                <a href="/logout">Logout</a>
            </div>
            <div class="auth-links" sec:authorize="!isAuthenticated()">
                <a href="/login">Login</a>
            </div><br><br>
            <div style="text-align: center;">
                <img src="/images/logo-siw.png" alt="Logo SIW" />
            </div>

        </header>
	
	
    <section>
        <h1>Giocatore rimosso correttamente!</h1>
        <p>
                <a href="/" class="button">
                    AVANTI
                </a>
        </p>
    </section>


</body>
</html>
