<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Federazione Sportiva</title>
    <link rel="stylesheet" href="/css/stile5.css" />
</head>
<body>
    <div class="container">
        <!-- PULSANTE LOGIN/LOGOUT -->
        <header>
            <div class="auth-links" th:if="${userDetails}">
                <span th:text="${userDetails.username}"></span>
                <a href="/logout">Logout</a>
            </div>
            <div class="auth-links" sec:authorize="!isAuthenticated()">
                <a href="/login">Login</a>
            </div>

            <div style="text-align: center;">
                <img src="/images/logo-siw.png" alt="Logo SIW" />
            </div>
            <h2>BENTORNATO PRESIDENTE:</h2>
        </header>

        <section>
            <h1>
                <span th:text="${presidente.utente.nome}">Nome</span>
                <span th:text="${presidente.utente.cognome}">Cognome</span>
            </h1>
            
            <!-- Messaggio per il caso in cui non ci sia una squadra -->
            <span th:if="${squadra == null}">
			<h3 style="color: red;">NON SEI PRESIDENTE DI NESSUNA SQUADRA!!!</h3>
            </span>

            <span th:if="${squadra != null}">
                <h3>GESTISCI LA TUA SQUADRA:</h3>
                <a th:href="@{'/presidente/' + ${squadra?.id} + '/gestisciSquadra'}" style="color: white; text-decoration: none;">
                    <span th:text="${squadra.nome}" class="button">Squadra</span>
                </a>
            </span>
        </section>
    </div>
</body>
</html>
